# Neovim state
.swap
*.swp
*.swo
session.vim
plugged/
site/
.tern-port
node_modules/
venv/
.cache/
.nvimlog

# Lazy.nvim & packer caches
lazy-lock.json
packer_compiled.lua

# OS noise
.DS_Store
Thumbs.db
